<nav class="nav">
  <a class="crear-btn btn" (click)="openCreate()" >Crear</a>
</nav>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">name</th>
    <th scope="col">cedula</th>
    <th scope="col" >state</th>
  </tr>
  </thead>
  <tbody>
  <tr class="pointer-tr" *ngFor="let user of users | slice: (page-1) * pageSize : page * pageSize" (click)="openDetail(user)">
    <td class="pointer-tr">{{ user.idUser}}</td>
    <td class="pointer-tr">
      {{ user.name}}
    </td>
    <td class="pointer-tr">{{ user.cedula}}</td>
    <td class="pointer-tr">
      <p *ngIf="user.state" class="pointer-tr">Habilitado</p>
      <p *ngIf="!user.state" class="pointer-tr">Deshabilitado</p>
    </td>
  </tr>
  </tbody>
</table>
<ngb-pagination class="d-flex justify-content-center"
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="users.length"></ngb-pagination>
