
<div class="modal-header">
  <h4 class="modal-title">Detalles de Usuario</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul class="org">
    <li class="org-content-left">
      <ul class="list-detail">
        <p class="tittle-detail">Cedula</p>
        <p class="text-detail">{{data.cedula}}</p>
      </ul>
      <ul class="list-detail">
        <p class="tittle-detail">Nombre</p>
        <p class="text-detail">{{data.name}}</p>
      </ul>
      <ul class="list-detail">
        <p class="tittle-detail">Estado</p>
        <p class="text-detail" *ngIf="data.state">Activo</p>
        <p class="text-detail" *ngIf="!data.state">Deshabilitado</p>
      </ul>
    </li>
    <li class="org-content-right">
      <ul class="list-detail">
        <p class="tittle-detail">Fecha de Creacion</p>
        <p class="text-detail">{{data.dateInit}}</p>
      </ul>
      <ul class="list-detail">
        <p class="tittle-detail">Fecha de Actualizar</p>
        <p class="text-detail">{{data.dateUpdate}}</p>
      </ul>
      <ul class="list-detail">
        <p class="tittle-detail">Rol del Usuario</p>
        <p class="text-detail">{{data.rol}}</p>
      </ul>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <a class="btn update-btn" (click)="openUpdate(data)">Actualizar</a>
  <a class="btn delete-btn" (click)="deleteUser(data.idUser)">Eliminar</a>
  <button type="button" class="btn btn-outline-dark close-btn" (click)="activeModal.close('Close click')">Close</button>
</div>
