<div class="modal-header">
  <h4 class="modal-title">Crear Usuario</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="org-content-left" action="" [formGroup]="userForm" >
    <div class="input-group mb-3">
      <input class="form-control" type="text" formControlName="cedula" id="cedula" >
      <label class="input-group-text" for="cedula">Cedula</label>
    </div>
    <div class="input-group mb-3">
      <input class="form-control" type="text" formControlName="email" id="email" >
      <label class="input-group-text" for="email">Email</label>
    </div>
    <div class="input-group mb-3">
      <input class="form-control" type="text" formControlName="name" id="name" >
      <label class="input-group-text" for="name">Nombre</label>
    </div>
    <div class="input-group mb-3">
      <input class="form-control" type="text" formControlName="password" id="password"  >
      <label class="input-group-text" for="password">Password</label>
    </div>
    <div class="form-check form-switch mb-3">
      <input class="form-check-input" type="checkbox" id="state" formControlName="state" (change)="cambios()" [(ngModel)]="input">
      <label class="form-check-label" for="state">Estado {{state}}</label>
    </div>

    <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="rol" >
      <option value="Registrado">Registrado</option>
      <option value="Rol_Administrador">Administrador</option>
      <option value="Rol_Lider">Lider</option>
    </select>
  </form>
</div>
<div class="modal-footer">

  <button type="submit" class="btn update-btn" [disabled]="userForm.invalid" (click)="updateUser()">Atualizar</button>
  <button type="button" class="btn btn-outline-dark close-btn" (click)="activeModal.close('Close click')">Close</button>
</div>
