.side{
  height: 100%;
  display: inline-flex;
  width: 100%;
  padding-top: 2em;
}
.nav-link{
  color: #fff;
  display: inline;
}

.icon{
  color: #fff;
  font-size: 2em;
  display: inline;
}
li{
  width: 190px;
  padding-left: 1em;
  margin-bottom: 1em;
  transition: width 1s;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  background-color:#212529;
}

li:hover{
  width:212px;
  background-color: #7093ec;
}
