
<ul class="nav navbar-dark bg-dark flex-column side">

  <li class="nav-item" [routerLink]="['user']">
    <fa-icon class="icon" [icon]="faUsers"></fa-icon>
    <a class="nav-link">User</a>
  </li>
  <li class="nav-item" [routerLink]="['project']">
    <fa-icon class="icon" [icon]="faProjectDiagram"></fa-icon>
    <a class="nav-link">Project</a>
  </li>
</ul>
