<div class="modal-header">
  <h4 class="modal-title">Crear Projecto (no funciona aun)</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="org-content-left" action="" [formGroup]="projectForm" >
    <div class="input-group mb-3">
      <input class="form-control" type="text" formControlName="name" id="name">
      <label class="input-group-text" for="name">Nombre</label>
    </div>
    <div class="input-group mb-3">
      <input class="form-control" type="text" formControlName="alias" id="alias">
      <label class="input-group-text" for="alias">Alias</label>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Descripcion</span>
      <textarea class="form-control" aria-label="With textarea" formControlName="description"></textarea>
    </div>
    <div class="form-check form-switch mb-3">
      <input class="form-check-input" type="checkbox" id="state" formControlName="state" (change)="cambios()" [(ngModel)]="input">
      <label class="form-check-label" for="state">Estado {{state}}</label>
    </div>


    <form class="form-calendar-inline">
      <div class="form-group hidden">
        <div class="input-group">
          <input name="datepicker"
                 class="form-control"
                 ngbDatepicker
                 #datepicker="ngbDatepicker"
                 [autoClose]="'outside'"
                 (dateSelect)="onDateSelection($event)"
                 [displayMonths]="2"
                 [dayTemplate]="t"
                 outsideDays="hidden"
                 [startDate]="fromDate!"
                 tabindex="-1">
          <ng-template #t let-date let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
          </ng-template>
        </div>
      </div>
      <div class="form-group calendar-group">
        <div class="input-group">
          <input #dpFromDate
                 class="form-control" placeholder="yyyy-mm-dd"
                 name="dpFromDate"
                 [value]="formatter.format(fromDate)"
                 (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><fa-icon class="icon" [icon]="faCalendar"></fa-icon></button>
          </div>
        </div>
      </div>
      <div class="form-group ml-2 calendar-group">
        <div class="input-group right-group">
          <input #dpToDate
                 class="form-control" placeholder="yyyy-mm-dd"
                 name="dpToDate"
                 [value]="formatter.format(toDate)"
                 (input)="toDate = validateInput(toDate, dpToDate.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><fa-icon class="icon" [icon]="faCalendar"></fa-icon></button>
          </div>
        </div>
      </div>
    </form>

  </form>
</div>
<div class="modal-footer">

  <button type="submit" class="btn crear-btn" [disabled]="projectForm.invalid" (click)="createProject()">Crear</button>
  <button type="button" class="btn btn-outline-dark close-btn" (click)="activeModal.close('Close click')">Close</button>
</div>
