.close{
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border:0;
}
.close>span:hover {
  color: #000;
  text-decoration: none;
}
.org-content-right{
  float: right;
  list-style: none;
}
.org-content-left{
  float: left;
  list-style: none;
  margin-bottom: 4em;
}
.delete{
  display:inline-block;
}
.close-btn{
  display:inline-block;
}
.modal-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal-body{
  display: flex;
}
.tittle-detail{
  font-size:1.3em
}

.table{
  webkit-box-shadow: 7px 7px 26px -3px rgba(0,0,0,0.56);
  -moz-box-shadow: 7px 7px 26px -3px rgba(0,0,0,0.56);
  box-shadow: 7px 7px 26px -3px rgba(0,0,0,0.56);
}
.crear-btn:hover{
  color: #fff;
  background-color: #296eef;
  border-color: #296eef;
}
.crear-btn{
  color: #296eef;
  border-color: #296eef;
}
.nav{
  margin-bottom: 1em;
}

.update-btn:hover{
  color: #fff;
  background-color: #14f80d;
  border-color: #14f80d;
}
.update-btn{
  color: #14f80d;
  border-color: #14f80d;
}

.delete-btn:hover{
  color: #fff;
  background-color: #ee0505;
  border-color: #ee0505;
}
.delete-btn{
  color: #ee0505;
  border-color: #ee0505;
}
.pointer-tr{
  cursor:pointer;
}
.pointer-tr:hover{
  cursor:pointer;
  background-color: #0d6efd;
  color: white;
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.calendar-group{
  width: 12em;
}
.form-calendar-inline{
  width: 100%;
  display: flex;
}
.right-group{
  margin-left:1em;
}
.mat-filter-input {
  border: 1px solid black !important
}
