<nav class="nav">
  <a class="crear-btn btn" (click)="openCreate()" >Crear</a>
</nav>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">name</th>
    <th scope="col">cedula</th>
    <th scope="col" >state</th>
  </tr>
  </thead>
  <tbody>
  <tr class="pointer-tr" *ngFor="let project of projects | slice: (page-1) * pageSize : page * pageSize">
    <td class="pointer-tr">{{ project.idProject}}</td>
    <td class="pointer-tr">
      {{ project.name}}
    </td>
    <td class="pointer-tr">{{ project.alias}}</td>
    <td class="pointer-tr">
      <p *ngIf="project.state" class="pointer-tr">Habilitado</p>
      <p *ngIf="!project.state" class="pointer-tr">Deshabilitado</p>
    </td>
  </tr>
  </tbody>
</table>
<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="projects.length"></ngb-pagination>
