.side-bar{
  width: 12em;
  position: absolute;
  top: 4em;
  bottom: 0;
  z-index: 1;
}


.router-dash{
  width: 100%;
  right: 0;
  padding-left: 15em;
  position: absolute;
  padding-top: 1.5em;
  padding-right: 1.5em;
  z-index:0;
}

.nav-bar{
  z-index:1;
}

